[submodule "AxelarHandler/lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "AxelarHandler/lib/axelar-gmp-sdk-solidity"]
	path = lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
[submodule "AxelarHandler/lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "AxelarHandler/lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "CCTPRelayer/lib/forge-std"]
	path = CCTPRelayer/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "CCTPRelayer/lib/openzeppelin-contracts"]
	path = CCTPRelayer/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "CCTPRelayer/lib/openzeppelin-contracts-upgradeable"]
	path = CCTPRelayer/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "EurekaHandler/lib/forge-std"]
	path = EurekaHandler/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "EurekaHandler/lib/openzeppelin-contracts"]
	path = EurekaHandler/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "EurekaHandler/lib/openzeppelin-contracts-upgradeable"]
	path = EurekaHandler/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "EurekaHandler/lib/solidity-ibc-eureka"]
	path = EurekaHandler/lib/solidity-ibc-eureka
	url = https://github.com/cosmos/solidity-ibc-eureka
[submodule "SwapRouter/lib/forge-std"]
	path = SwapRouter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "SwapRouter/lib/openzeppelin-contracts"]
	path = SwapRouter/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
